html, body {margin: 0; height: 100%; overflow: hidden}

#intro{
  font-size: 15em;
  font-weight: bold;
  color: white;
}

.text1{
  font-size:2em;
  font-weight: bold;
  background-color: #B52828;
  color: white;
}

.quote{
  font-size:1em;
  font-weight: bold;
  background-color: #B52828;
  color: white;
}

h1{
  color: #B52828;
  font-weight:bold;
  font-size:6em;
  text-align: center;
}

h2{
  color: #B52828;
  font-weight:bold;
  font-size:4em;
  text-align: center;
}

.large{
 background-color: #B52828;
 width:30%;
}

.narrow{
 background-color: #B52828;
 width:14%;
 font-size:1.5em;
}

.hero-full-screen {
 height: 100vh;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-direction: column;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-align-items: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
         justify-content: space-between;
}

.background1{
  background: url("../immagini/bg1.JPG") center center no-repeat;
  background-size: cover;
}

.background2{
  background: url("../immagini/bg2.JPG") center center no-repeat;
  background-size: cover;
}

.background3{
  background: url("../immagini/bg3.PNG") center center no-repeat;
  background-size: cover;
}

.background4{
  background: url("../immagini/bg4.JPG") center center no-repeat;
  background-size: cover;
}

.paragrafi{
          text-align:left;
        }

.background3 .middle-content-section{
          position:relative;
          top:50vh;
          transform:translate(0,-80%);
        }

.background2 .middle-content-section{
          position:relative;
          top:-30vh;
        }

.about .middle-content-section{
          position:relative;
          top:-30vh;
          width:60vw;
        }

.middle-content-section {
  text-align: center;
  color: white;
  size:2em;
}

.top-content-section {
  width: 100%;
}

.transition {
  padding: 1rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.transition svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

#col svg {
  fill: #B52828;
}

.top-bar {
  background: transparent;
}

.top-bar .menu {
  background: transparent;
}

.top-bar .menu-text {
  color: #fefefe;
}

.top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #fefefe;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #fefefe;
}

.background3 a:hover {
  color: #B52828;
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fefefe;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.button:hover{
  background-color: #B52828;
}

.column{
  height:100vh;
  width:50vw;
  display:block;
  padding: 8%;
}

.c1{
  left:0vw;
  position:absolute;
  text-align:center;
}

.c2{
  position:absolute;
  right:0vw;
}

.column a{
  color:black;
}

.background3 a{
  color:black;
}

.insta{
  position:absolute;
  top:0vh;
  visibility: hidden;
}

@keyframes linkapp{
  from{visibility:hidden;}
  to:{visibility:visible;}
}

.insta1{
  animation:linkapp 1s;
}
