html, body {margin: 0; height: 100%; overflow: hidden}

.hero-full-screen {
 height: 100vh;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 -webkit-flex-direction: column;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-align-items: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-justify-content: space-between;
     -ms-flex-pack: justify;
         justify-content: space-between;
}

.background1{
  background: url("../immagini/bg1.JPG") center center no-repeat;
  background-size: cover;
}

.background2{
  background: url("../immagini/bg2.JPG") center center no-repeat;
  background-size: cover;
}

.background3{
  background: url("../immagini/bg3.PNG") center center no-repeat;
  background-size: cover;
}

.middle-content-section {
  text-align: center;
  color: white;
  size:2em;
}

.top-content-section {
  width: 100%;
}

.transition {
  padding: 1rem;
  text-align: center;
  color: black;
  font-weight: bold;
}

.transition svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

#col svg {
  fill: #B52828;
}

.top-bar {
  background: transparent;
}

.top-bar .menu {
  background: transparent;
}

.top-bar .menu-text {
  color: #fefefe;
}

.top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

h1{
  color: #B52828;
  font-weight:bold;
  font-size:6em;
  text-align: center;
}

h2{
  color: #B52828;
  font-weight:bold;
  font-size:4em;
  text-align: center;
}

a {
  color: #fefefe;
  font-weight: bold;
  position: relative;
  text-decoration: none;
}

a:hover {
  color: #fefefe;
}

.background3 a:hover {
  color: #B52828;
}

.column a{
  color:black;
}

.background3 a{
  color:black;
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fefefe;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#intro{
  font-size: 15em;
  font-weight: bold;
  color: white;
}

.text1{
  font-size:2em;
  font-weight: bold;
  background-color: #B52828;
  color: white;
}

.quote{
  font-size:1em;
  font-weight: bold;
  background-color: #B52828;
  color: white;
}

.paragrafi{
          text-align:left;
        }

.column{
  height:100vh;
  width:50vw;
  display:block;
  padding: 8%;
}

.c1{
  left:0vw;
  position:absolute;
  text-align:center;
}

.c2{
  position:absolute;
  right:0vw;
}

.insta{
  position:absolute;
  top:0vh;
  visibility: hidden;
}

@keyframes linkapp{
  from{visibility:hidden;}
  to:{visibility:visible;}
}

.insta1{
  animation:linkapp 1s;
}

@keyframes intro{
  0%{top:50%;left:50%;transform:translate(-50%,-50%);}
  14%{top:200%;left:50%;transform:translate(-50%,-50%);}
  18%{top:200%;left:200%;transform:translate(-50%,-50%);}
  22%{top:-100%;left:200%;transform:rotate(180deg) translate(50%,50%);}
  36%{top:5%;left:90%;transform:rotate(180deg) translate(50%,50%);}
  50%{top:-100%;left:200%;transform:rotate(180deg) translate(50%,50%);}
  54%{top:-100%;left:-100%;transform:rotate(180deg) translate(50%,50%);}
  58%{top:200%;left:-100%;transform:translate(-50%,-50%);}
  72%{top:95%;left:10%;transform:translate(-50%,-50%);}
  86%{top:200%;left:-100%;transform:translate(-50%,-50%);}
  90%{top:-100%;left:-100%;transform: translate(-50%,-50%);}
  94%{top:-100%;left:50%;transform: translate(-50%,-50%);}
  100%{top:50%;left:50%;transform: translate(-50%,-50%);}
}

.animate{
  position:absolute;
  visibility:visible;
  animation:intro 5s forwards;
}

@keyframes godown{
  from{top:0vh;}
  to{top:200vh;}
}

.down{
  animation:godown 1s forwards;
}
