body{
  background-color: #B52828;
}

.link {
  font-size:3em;
  color:white;
  margin: 0 auto;
}

.container{
  position:absolute;
  top:50vh;
  left:50vw;
  transform:translate(-50%,-50%);
}



@keyframes link2{
 from{
   color:white;
   font-weight: normal;
 }

 to{
   background-color: white;
   opacity: 100%;
   color:#B52828;
   font-weight:bolder;
 }
}

a:hover{
  animation:link2 1s forwards;
  color:white;
}
