body{
  background-color: #B52828;
}

@keyframes animation1 {

  0%, 100% { animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }

  0% {transform: rotatey(0deg);
  width: 40px;
  height: 40px;
  border-radius: 0%;
}

  50% {transform: rotatey(1800deg);
  width: 50px;
height: 50px;
border-radius: 25%;
}

  100% {transform: rotatey(3600deg);
  width:60px;
height: 60px;
border-radius: 50%;
}
}

#container1{
  position: absolute;
  top: 50vh;
  left:50vw;
  transform: translate(-50%,-50%);
}

#spinner1 {
  animation: animation1 2.4s infinite alternate;
  background-color: white;
}


@keyframes animation2 {

  0% {
  width: 50px;
  height: 50px;
  left:35%;
  top:35%;
}

  12.5% {
  width: 0px;
height: 50px;
left:50%;
top:35%;
}

  25% {
  width:50px;
height: 50px;
left:65%;
top:35%;
}

 37.5% {
width: 50px;
height: 0px;
left:65%;
top:50%;
}

 50% {
width: 50px;
height: 50px;
left:65%;
top:65%;
}

 62.5% {
width: 0px;
height: 50px;
left:50%;
top:65%;
}

 75% {
width: 50px;
height: 50px;
left:35%;
top:65%;
}

 87.5% {
width:50px;
height: 0px;
left:35%;
top:50%;
}

 100% {
width: 50px;
height: 50px;
left:35%;
top:35%;
}

}

#spinner2 {
  animation: animation2 5s infinite;
  background-color: white;
    position: absolute;
    top: 50vh;
    left:33vw;
    transform: translate(-50%,-50%);
}
